@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 20px;
}

.logo {
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.logo span {
  color: #f75d01;
}

@media (width >= 800px) {
  .logo {
    margin-left: 0;
    text-align: left;
  }
}

.container-video {
  padding: 0 20px;
  margin: 2em 0;
}

.video {
  width: 100%;
  max-width: 900px;
  min-height: 250px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.apresentation-steps {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em 0;
  min-height: 70vh;
  justify-content: space-evenly;
}

#apresentation-btn {
  align-self: center;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (width >= 1000px) {
  .steps {
    padding-left: calc(2em + 3vw);
  }
}

.steps p {
  font-size: 1.3em;
  max-width: 1000px;
}

.steps .first {
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto;
}

.steps p span {
  color: #f75d01;
  font-weight: bold;
}

.steps ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.steps ul li {
  font-size: 1.5em;
  color: #333;
}

.depoiments {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 10px;
  min-height: 60vh;
}

#depoiments-btn {
  align-self: center;
}

.subtitle {
  text-align: center;
  font-size: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.extra {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  gap: 2em;
  margin-bottom: 2em;
}

.product {
  width: 100%;
  max-width: 200px;
  animation: move 2s ease-in-out infinite alternate;
}

footer {
  margin-top: 1em;
  padding: 20px 40px;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

@media (width <= 450px) {
  footer {
    justify-content: center;
  }
}

.logo-footer {
  width: 150px;
  border-radius: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.social h3 {
  font-size: 2em;
  text-align: center;
}

.social ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2em;
}

.social ul i {
  font-size: 30px;
  transition: all 0.5s;
}

.social ul li:hover i {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.445));
}

#youtube {
  color: #ff0000;
}

#instagram {
  color: #f842d5;
}

#twitter {
  color: #63b8ee;
}

@media (width >= 800px) {
  .extra {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5em;
    margin-bottom: 0;
  }
}

@keyframes move {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.font-hel {
  font-family: Helvetica, sans-serif;
}

.more-btn {
  display: block;
  align-self: center;
  text-decoration: none;
  font-size: 20px;
  background-color: #f75d01;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  transition: all 0.5s;
}

.more-btn:hover {
  transform: scale(1.05);
}

/* CARDS */
.cards {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 5em;
  margin-top: 1.5em;
  padding: 20px;
}

.cards .card {
  height: 250px;
  max-width: 300px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  background-color: #fafafa;
}

.cards .card img {
  width: 100%;
  height: 100%;
}

@media (width <= 900px) {
  .cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 550px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (width >= 901px) {
  .card {
    margin-left: -80px;
  }

  .cards .card:hover {
    transform: translateY(-16px) rotate(3deg);
  }
  .cards .card:hover ~ .card {
    transform: translateX(100px);
  }
}
